<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <img v-bind:src="vueImage" alt="todo-list">
    <li v-for="todo in todos" v-if="!todo.completed" v-on:click="todo.completed=true">
      {{ todo.content }}
    </li>
    <li v-else v-on:click="todo.completed=false">[완료!]</li>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        todos: [
          {
            content: '점심 메뉴 고민',
            completed: true,
          },
          {
            content: '사다리 타기',
            completed: false,
          },
          {
            content: '낮잠 자기',
            completed: false,
          },
          {
            content: '야자 하기',
            completed: false,
          }
        ],
        vueImage: 'http://img.etnews.com/photonews/0805/200805130014_13093536_308639417_l.jpg'
      },
      methods: {
        check: function(apple) {
          apple.completed = !todo.completed
        }
      }
    })
  </script>
</body>
</html>