{% extends 'articles/base.html' %}
{% block content %}
<h1>DETAIL</h1>
<hr>
<p> pk:  {{ article.pk }} </p>
<p> title: {{ article.title }} </p>
<p> content: {{ article.content }} </p>
<p> created_at: {{ article.created_at|date:"SHORT_DATE_FORMAT" }} </p>
<p> updated_at: {{ article.updated_at|date:"D d M Y" }} </p>
<hr>
<a href=" {% url 'articles:update' article.pk %}">[UPDATE]</a>
<form action="{% url 'articles:delete' article.pk%} " method="POST">
 {% csrf_token %}
 <input type="submit" value="DELETE">
</form>
<!-- 댓글 출력 -->
{% for comment in comments %}
  <div>
    댓글 {{ forloop.revcounter }} : {{ comment.content }}
    <form action="{% url 'articles:comments_delete' article.pk comment.pk %}" method="POST" style="display: inline:">
      {% csrf_token %}
      <input type="submit" value="DELETE">
    </form>
  </div>


{% empty %}
  <p><b>댓글이 없습니다.</b></p>
{% endfor %}
<hr>
<!-- 댓글 입력 form -->
<form action="{% url 'articles:index' article.pk %}" method="POST">
{% csrf_token %}
{{ comment_form }}
<input type="submit" value="submit">
</form>
<hr>
<a href="{% url 'articles:index' %}">[back]</a>
{% endblock %}